@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes ping-slow {
  75%, 100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
